.order-item__confirmno {
    display: inline-block;
    height: auto;
    font-weight: 600;
    padding: 0px 40px !important;
    grid-column: 4/5;
    justify-self: center;
}

@media (min-width: 300px) {
    .order-item__confirmno {
        font-size: 12px;
        padding: 0px 10px !important;
    }
    
}

@media (min-width: 500px) {
    .order-item__confirmno {
        font-size: 14px;
    }
}



@media (min-width: 896px) {
    .order-item__confirmno {
        padding: 0px 20px !important;
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .order-item__confirmno {
        font-size: 24px;
    }
}

@media (min-width: 1896px) {
    .order-item__confirmno {
        padding: 0px 40px !important;
        font-size: 36px;
    }
}