.seller-item__container {
    margin-top: 30px;
    border: 0 !important;
}

.seller-item__container .ant-card-head {
    background-color: rgb(250, 247, 172);
    color: rgb(205, 15, 97);
}

.seller-item__container .ant-card-body {
    background-color: rgb(205, 15, 97);
    color: rgb(249, 247, 178);
}

.seller-item__container .ant-card-head .ant-card-head-title {
    font-size: 26px !important;
    font-weight: 600;
}

.seller-item__meta {
    font-size: 20px;
    font-weight: 600;
}