.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    gap: 10px;
    padding: 0 50px;
    width: 100%;
}

.catalog li {
    list-style: none;
    margin-bottom: 5%;
}

