.item-in-order__container {
    display: flex;
    color: rgb(252, 201, 253);
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.item-in-order__header {
    font-size: 20px;
    font-weight: 600;
}

.item-in-order__meta {
    display: flex;
    align-items: center;
}

.item-in-order__item {
    font-size: 16px;
    margin-left: 10px;
}

.item-in-order__container:last-child {
    margin: 0;
}

@media (min-width: 300px) {
    .item-in-order__header {
        font-size: 12px;
    }
    .item-in-order__item {
        font-size: 10px;
        margin: 0;
        display: block;
    }
    .item-in-order__meta {
        margin-top: 10px;
        display: block;
    }
    .item-in-order__container {
        display: block;
    }
}

@media (min-width: 500px) {

    .item-in-order__container {
        display: flex;
        color: rgb(252, 201, 253);
        justify-content: space-between;
        margin: 0;
        padding: 0;
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
    .item-in-order__item {
        display: inline;
        margin-left: 10px;
        font-size: 12px;
    }
    .item-in-order__meta {
        margin-top: 0px;
        display: flex;
        align-items: center;
    }
    
    .item-in-order__header {
        font-size: 14px;
    }
}



@media (min-width: 896px) {
    .item-in-order__header {
        font-size: 18px;
    }
    .item-in-order__item {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .item-in-order__header {
        font-size: 23px;
    }
    .item-in-order__item {
        font-size: 20px;
    }
}

@media (min-width: 1896px) {
    .item-in-order__header {
        font-size: 28px;
    }
    .item-in-order__item {
        font-size: 24px;
    }
}