.order-item__btn-delete {
    display: inline-block;
    height: auto;
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    box-shadow: 1px 1px 1px 1px rgb(10, 10, 60);
    color: rgb(10, 10, 129);
    background-color: rgb(192, 192, 255);
}

.order-item__btn-delete:hover {
    color: rgb(164, 164, 236) !important;
    background-color: rgb(22, 22, 111);
}

@media (min-width: 300px) {
    .order-item__btn-delete {
        margin-top: 10px;
        font-size: 12px;
    }
    
}

@media (min-width: 500px) {
    
}



@media (min-width: 896px) {
    .order-item__btn-delete {
        margin-top: 0px;
        width: auto;
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .order-item__btn-delete {
        font-size: 18px;
    }
}

@media (min-width: 1896px) {
    .order-item__btn-delete {
        font-size: 23px;
    }
}

