.item-basket__container {
    width: 70%;
    margin-bottom: 40px;
    padding: 0;
}

.item-basket__container img {
    width: 70% !important;
}

.item-basket__meta {
    display: flex;
    flex-direction: column;
}

.item-basket__meta div:first-child {
    margin-bottom: 20px;
}

.item-basket__meta div {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: rgb(60, 17, 61);
}

.item-basket__grid {
    width: '100%';
    margin-top: '30px';
    background-color: rgb(170, 103, 157);
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
}

.item-basket__button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.item-basket__deletebtn {
    align-self: flex-end;
    display: block;
    width: auto;
    height: auto;
    background-color: rgb(252, 252, 252);
    color: rgb(170, 91, 154);
    font-weight: 700;
    box-shadow: 1px 0px 16px 1px #53103a;
}

.item-basket__deletebtn:hover {
    background-color: rgb(225, 175, 216);
    color: rgb(67, 25, 59) !important;
    box-shadow: 1px 0px 16px 1px #53103a;
    border: 0 !important;
}

.item-basket__warning {
    background-color: rgb(246, 132, 132);
}

.item-basket__meta div:nth-child(1) span:nth-child(2) {
    font-size: 14px;
    font-weight: 600;
    color: red;
}

@media (min-width: 300px) {
    .item-basket__container {
        width: 95%;
    }
    .item-basket__grid {
        flex-direction: column;
        align-items: center;
    }
    .item-basket__grid div {
        max-width: 90% !important;
        margin-bottom: 20px;
    }
    .item-basket__meta div, .item-basket__deletebtn {
        font-size: 20px;
    }

    .item-basket__deletebtn {
        font-size: 15px;
    }
}

@media (min-width: 500px) {
    .item-basket__container {
        width: 70%;
    }
    /* .item-basket__grid {
        flex-direction: column;
        align-items: center;
    }
    .item-basket__grid div {
        max-width: 90% !important;
        margin-bottom: 20px;
    }
    .item-basket__meta div, .item-basket__deletebtn {
        font-size: 20px;
    }

    .item-basket__deletebtn {
        font-size: 15px;
    } */
}



@media (min-width: 896px) {
    .item-basket__grid {
        flex-direction: row;
        align-items: stretch;
    }

    .item-basket__grid div {
        margin-bottom: 0px;
    }
    .item-basket__meta div, .item-basket__deletebtn {
        font-size: 20px;
    }

    .item-basket__deletebtn {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    

    .item-basket__meta div, .item-basket__deletebtn {
        font-size: 24px;
    }

    .item-basket__deletebtn {
        font-size: 18px;
    }
}

@media (min-width: 1896px) {

    .item-basket__meta div, .item-basket__deletebtn {
        font-size: 30px;
    }

    .item-basket__deletebtn {
        font-size: 25px;
    }


}